{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "loose": true,
        "modules": false,
        "corejs": 3
      }
    ],
    "@babel/preset-typescript"
  ]
}